*{
 font-family: 'Open Sans', sans-serif;


}

h1{
    font-family: "Black Han Sans", sans-serif;
    font-size: 29px;
}

#container{
    margin: 0 auto;
}
#presentation{
    img{
        width: 200px;
        display: block;
        margin: 0 auto;
    }  
        
}
    .tudo{

        display: flex;
        justify-content: center;

        .gif{
            width: 30%;
            padding: 40px 0 0 40px;
            img{
                width: 100%;
                padding: 40px 0 0 40px;

            }
        }
        .columns{
            width: 30%;
            padding: 40px 0 0 40px;
        }    
}

#contact-form{
    display: flex;
    justify-content: center;
    margin: 80px;

    .six{
        padding: 40px;
    }
    ul{
        list-style: none;
        padding: 0;

    }

}
.input-group{
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-family:  'Open Sans', sans-serif;

    
    input{
        border-radius: 3px;

     }

    textarea{
        height: 200px;
        border-radius: 5px;

    }
    button{
        margin: 10px;
        width: 80px;
        border-radius: 3px;
        padding: 4px;



    }
}

